@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@model HelloWorld.Models.Authentication.Login

<br />
@if (TempData["message"] != null)
{
    <p class="message">@TempData["message"]</p>
}
@if (ViewData["message"] != null)
{
    <p class="message">@ViewData["message"]</p>
}
<h4>Authenticate your identity</h4>

@using (Html.BeginForm())
{
    <table class="table-create">
        <tr>
            <th>Username</th>
            <td>
                @Html.TextBoxFor(x => x.Username, null, new { @class = "form-control", placeholder = "Type your username" })
                @Html.ValidationMessageFor(x => x.Username)
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Type your password" })
                @Html.ValidationMessageFor(x => x.Password)
            </td>
        </tr>
        <tr>
            <th><button type="submit">Login</button></th>
            <td>
                <div class="form-check">
                    @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-input", @id = "flexCheckDefault" })
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <a style="text-decoration:none;" href="@Url.Action("register","account")">Create a new account</a>
}